# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	email = john1625b@users.noreply.github.com
	name = john1625b

# Aliases
[alias]
	ga='git add'
	gb='git branch'
	gc='git commit'
	gca='git commit -a'
	gcam='git commit -a -m'
	gce='git commit -e'
	gcm='git commit -m'
	gco='git checkout'
	gd='git diff'
	gdc='git diff --cached'
	gpom='git push'
	gr='git remote'
	gst='git status'

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
